@CHARSET "ISO-8859-1";

 /**** Generic CSS ****************/
body {

	background-color: #ffff;
	color: black;
}

html, body{
	height: 100%;
	width: 100%;	
}

/*navbar styling*/
.navbar{
	background-color: #705d2c;
	padding: 1% 0;
	font-size: 1.2em;
	z-index: 3;
}
.navbar-default .navbar-brand{
	color: #debf20;	
}
.navbar-brand{
	min-height: 55px;
	padding: 15px 15px 5px;
	font-size: 1.8em;
	color: #d5d5d5;	
}
.navbar-default .navbar-nav li a{
	color: #d5d5d5;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active
{
	color: #fff;
	background-color: #e5b844; 
}

/*content styling*/
.padding{
	padding: 80px 0;

}
.padding img{
	width: 100%;	
}
.footer{
	width: 100%;
	background-color: #23415C;
	padding: 5% 5% 10% 5%;
	color: #fff;
}
.padding a,.padding a:link{
	color: black;
	text-decoration: none;
}

/*top buttons stylings*/
.button-custom{
	border-radius: 10px;
	margin: 4px;
	margin-top: 20px;
	border: 1px solid #fff;
	width: 200px;
	background: #f0b7a1; /* Old browsers */
	background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #752201 92%, #bf6e4e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 92%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 50%,#752201 92%,#bf6e4e 100%); 
	/* height: 20em; */
	padding: 10px;
	font-size: 16pt;
	/* width: 40em; */
	text-decoration: none;
}
.button-custom:hover{
	text-decoration: none;
	transform: scale(1.05);
	transition: 1.2s;
}

#queueSection{
	margin: 4px;
	border: 1px solid #fff;
	background: #c9b98b;
	padding: 10px;
	height: 20em;	
	border-radius: 25px;
}

.alert .close {
	padding-left: 15px;
}

#notif-alert {
	position: fixed;
	top: 60px;
	padding-right: 10px;
	z-index: 4;
}

.alert-default {
	color: #fff;
	background-color: #c9b98b;
	border-color: #000;
}


