.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}
.white {
    color: white;
}
/*
  color set for coffee
 */
.btn-bgcolor {
    background-color: #5e422f;
    border-color: #5e422f;
}
.btn-bgcolor1 {
    color: #4d3626;
    background-color: #4d3626;
    border-color: #4d3626;
}
.btn-bgcolor2 {
    color: #3c2a1e;
    background-color: #3c2a1e;
    border-color: #3c2a1e;
}

/*
  color set for Creamier
 */

.btn-bgccolor {
    color: #ae7d5b;
    background-color: #ae7d5b;
    border-color: #ae7d5b;
}
.btn-bgccolor1 {
    color: #b48768;
    background-color: #b48768;
    border-color: #b48768;
}
.btn-bgccolor2 {
    color: #bb9175;
    background-color:#bb9175;
    border-color: #bb9175;
}
.btn-bgccolor3 {
    color:#c19c82;
    background-color: #c19c82;
    border-color: #c19c82;
}

/*
  color set for Creamier
 */

.btn-bgcccolor {
    color: #efe5de;
    background-color: #efe5de;
    border-color: #efe5de;
}
.btn-bgcccolor1 {
    color: #e8dad1;
    background-color: #e8dad1;
    border-color: #e8dad1;
}
.btn-bgcccolor2 {
    color: #e2d0c3;
    background-color: #e2d0c3;
    border-color: #e2d0c3;
}
.btn-bgcccolor3 {
    color: #dbc5b6;
    background-color: #dbc5b6;
    border-color: #dbc5b6;
}
